body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
nav-item {
  font-weight: 200;
  line-height: 110%;
}

.nav-item {
  font-weight: 500;
  font-size: 1.15rem;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem 0.25rem 0 0;
  margin-right: 0;
}
